
/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}
/* リセットCSS */
/* _header */
header {
  background-color: violet;
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-left {
  background-color:thistle;
  padding: 5px 15px;
  margin-left: 20px;
}
.header-right {
  background-color: lightpink;
  display: flex;
  margin-right: 20px;
}
.header-li {
  display: block;
  padding: 3px;
  margin: 7px;
}
/* _header */

/* _hooter */
.hooter {
  background-color: violet;
  width: 100vw;
  height: 50px;

}
/* _hooter */

/* index-main */
.main {
  background-color: lightgoldenrodyellow;
}
.trip-info {
  background-color: darksalmon;
  display: flex;
  justify-content:space-evenly
}

/* index-main */
/* show-main */
.trip-show-info{
  height: calc(100vh - 120px);
  overflow: scroll;
}
.trip-show {
  background-color: thistle;
  margin: 0 20px;
  height: calc(100vh - 120px);
}
.show-photos {
  display: flex;
  overflow: scroll;
}
.show-photo {
  margin-right: 5px;
}

/* show-main */
/* new-main */
.form {
  position: relative;
  text-align: center;
}
.form-input {
  background-color: palegoldenrod;
  margin: auto;
  width: 90vw;
  text-align: center;
}
/* new-main */

.display-none {
  visibility: hidden;
}


